{% load static%}


<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="pt-br"> <!--<![endif]-->
<head>
	<!--
   ================================================== -->
   <meta charset="utf-8">
	<title>Portfolio Luiz</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="..\static\css/base.css">  
   <link rel="stylesheet" href="..\static\css/main.css">
   <link rel="stylesheet" href="..\static\css/vendor.css">     

   <!-- script
   ================================================== -->   
	<script src="..\static\js/modernizr.js"></script>
	<script src="..\static\js/pace.min.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/ico" href="../static/images/luiz_noel.ico">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header>   	
   	<div class="row">

   		<div class="top-bar">
   			<a class="menu-toggle" href="#"><span>Menu</span></a>

	   		<div class="logo">
		         <a href="index.html">Menu</a>
		      </div>		      

		   	<nav id="main-nav-wrap">
					<ul class="main-navigation">
						<li class="current"><a class="smoothscroll"  href="#intro" title="">Home</a></li>
						<li><a class="smoothscroll"  href="#about" title="">Sobre</a></li>
						<li><a class="smoothscroll"  href="#resume" title="">Curriculo</a></li>
						<li><a class="smoothscroll"  href="#portfolio" title="">Projetos e Certificados</a></li>
						<li><a class="smoothscroll"  href="#services" title="">Serviços</a></li>					
						<li><a class="smoothscroll"  href="#contact" title="">Contato</a></li>	
			
					</ul>
				</nav>    		
   		</div> <!-- /top-bar --> 
   		
   	</div> <!-- /row --> 		
   </header> <!-- /header -->

	<!-- intro section
   ================================================== -->
   <section id="intro">   

   	<div class="intro-overlay"></div>	

   	<div class="intro-content">
   		<div class="row">

   			<div class="col-twelve">

	   			<h5>Olá, mundo!</h5>
	   			<h1>Eu sou o Luiz.</h1>

	   			<p class="intro-position">
	   				<span>Analista de Dados</span>

	   			</p>

	   			<a class="button stroke smoothscroll" href="#about" title="">Mais Sobre Mim</a>

	   		</div>  
   			
   		</div>   		 		
   	</div> <!-- /intro-content --> 

   	<ul class="intro-social">        
         <li><a href="https://www.linkedin.com/in/luiz-victor-reis-moraes-silva-8428641a1/"><i class="fa-brands fa-linkedin"></i></a></li>
         <li><a href="https://github.com/luiz315"><i class="fa-brands fa-github"></i></a></li>
         <li><a href="https://x.com/luizv315"><i class="fa-brands fa-square-twitter"></i></a></li>
         <li><a href="mailto:luizvictorreis315@gmail.com"><i class="fa-solid fa-envelope"></i></a></li>
		 <li><a href="https://www.instagram.com/luizinv315/"><i  class="fa-brands fa-instagram"> </i></a></li>
		 <li><a href="https://luizv315.pythonanywhere.com"><i  class="fa-solid fa-square-rss"> </i></a></li>
         <!-- <li><a href="#"><i class="fa-regular fa-image"></i></a></li> -->
      </ul> <!-- /intro-social -->      	

   </section> <!-- /intro -->


   <!-- about section
   ================================================== -->
   <section id="about">  

   	<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Sobre</h5>
   			<h1>Mas afinal quem é esse tal de Luiz?</h1>

   			<div class="intro-info">

   				<img src="../static/images/perfil.jpg" alt="Profile Picture">

   				<p class="lead">Nascido em Brasília no início do Século XXI, criado no entorno da capital, candango demais pra ser goiano e goiano demais pra ser candango, filho do meio. Ddesde de pequeno sempre fui muito curioso, estava sempre observando como as coisas eram feitas e então tentava errava e tentava de novo até dar certo,foi assim que eu aprendi muitas coisas na minha vida como cozinhar, andar de patins, lavar, passar,tocar violão e até progamação,no começo sempre é dificil mas com o passar do tempo quando você consegue resolver problemas e criar coisas novas é muito satisfatório e empolgante, ter sido adolescente na época de ascensão do Youtube teve suas vantagens interagir com aquele tanto de informação sobre tudo me ajudou a entender muito sobre software.
				</p>
   			</div>   			

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row about-content">

   		<div class="col-six tab-full">

   			<h3>Perfil</h3>
   			<p>Proativo,Esforçado,Comunicativo</p>

   			<ul class="info-list">
   				<li>
   					<strong>Nome Completo:</strong>
   					<span>Luiz Victor Reis Moraes Silva</span>
   				</li>
   				<li>
   					<strong>Data de Nascimento:</strong>
   					<span>15 de Março 2001</span>
   				</li>
   				<li>
   					<strong>Profissão:</strong>
   					<span>Analista de Dados</span>
   				</li>
   				<li>
   					<strong>Website:</strong>
   					<a href="https://luizv315.pythonanywhere.com"
								target="_blank" rel="noopener noreferrer"><span>luizv315.pythonanywhere.com</span></a>
   				</li>
   				<li>
   					<strong>Email:</strong>
   					<span>luizvictorreis315@gmail.com</span>
   				</li>

   			</ul> <!-- /info-list -->

   		</div>

   		<div class="col-six tab-full">

   			<h3>Habilidades</h3>
   			<p>Durante essa minha trajetoria na programção e na área de análise de dados utilizei inumeras "ferramentas" para conseguir superar os desafios algumas delas  não aparecerão abaixo mas vale citar, utilizei    </p>

				<ul class="skill-bars">
				   <li>
				   	<div class="progress percent85"><span>85%</span></div>
				   	<strong>Python</strong>
				   </li>
				   <li>
				   	<div class="progress percent85"><span>85%</span></div>
				   	<strong>SQL</strong>
				   </li>
				   <li>
				   	<div class="progress percent45"><span>45%</span></div>
				   	<strong>Tableu</strong>
				   </li>
				   <li>
				   	<div class="progress percent95"><span>95%</span></div>
				   	<strong>Power BI</strong>
				   </li>
				   <li>

				   	<div class="progress percent45"><span>45%</span></div>
				   	<strong>R</strong>
				   </li>
      
				</ul> <!-- /skill-bars -->		

   		</div>

   	</div>

   	<div class="row button-section">
   		<div class="col-twelve">
   			<a href="#contact" title="Hire Me" class="button stroke smoothscroll">Contantos</a>
   			
   		</div>   		
   	</div>

   </section> <!-- /process-->    


   <!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Curriculo</h5>
   			<h1>Vivências Profissionais.</h1>

   			<p class="lead">Nesta secção iremos passar sobre minhas experiêcias Profissionais e acadêmicas.  </p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Educação</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Análise e desenvolvimento de sistemas</h3>
	   					<p>agosto 2021 - Atualmente</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Universidade Paulista - Unip</h4>
	   					<p>O curso superior de Tecnologia em Análise e Desenvolvimento de Sistemas da UNIP tem o objetivo de capacitar o aluno a projetar, documentar, especificar, implementar, testar, implantar e manter sistemas computacionais de informação.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->



   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
   	
   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Experiência Profissional</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Estagiário</h3>
	   					<p>Março 2022 - outubro 2023 </p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Escola Municipal Maria Pereira Braga</h4>
	   					<p> Ministrar aulas sobre informatica basica e seus conceitos,manutenção de computadores impressoras e correlatos, Edição revisão e impressão de provas Escolares. </p>
	   				</div>

	   			</div> <!-- /timeline-block -->



   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
		
	</section> <!-- /features -->


	<!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

	<div class="row section-intro">
	   <div class="col-twelve">

		   <h5>Projetos</h5>
		   <h1>Confira abaixo alguns projetos.</h1>

		   <p class="lead">Bom Chegamos na seção mais divertida, desafiadora e empolgante do site, a parte de Projetos.</p>

	   </div>   		
   </div> <!-- /section-intro--> 

   <div class="row portfolio-content">

	   <div class="col-twelve">

		   <!-- portfolio-wrapper -->
		 <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

			 <div class="bgrid folio-item">
			   <div class="item-wrap">
				   <img src="../static/images/Dio-Project_2.jpg" alt="Dio-Project_2">
				  <a href="#modal-51" class="overlay">	                  	           
					 <div class="folio-item-table">
						 <div class="folio-item-cell">
									<h3 class="folio-title">Análise de Vendas</h3>	     					    
									  <span class="folio-types">
										  Power-BI
									</span>
								</div>	                      	
					 </div>                    
				  </a>
			   </div>	               
				</div> <!-- /folio-item -->

				<div class="bgrid folio-item">
			   <div class="item-wrap">
				   <img src="../static/images/webS.jpg" alt="Web-portfolio">
				   <a href="#modal-52" class="overlay">              		                  
					 <div class="folio-item-table">
						 <div class="folio-item-cell">
							 <h3 class="folio-title">Web-portfolio</h3>	     					    
									 <span class="folio-types">
										  Python
								   </span>		     		
								</div> 	                      	
					 </div>                    
				  </a>
			   </div>
				</div> <!-- /folio-item -->

			<div class="bgrid folio-item">
			   <div class="item-wrap">
				   <img src="../static/images/E-mail.jpg"alt="E-mail">
				  <a href="#modal-53" class="overlay">             		                  
					 <div class="folio-item-table">
						 <div class="folio-item-cell">
							 <h3 class="folio-title">Enviar email atraves de codigo</h3>	     					    
									 <span class="folio-types">
										  Python
								   </span>		     		
								</div> 	                      	
					 </div>                    
				  </a>
			   </div>
				</div> <!-- /folio-item -->

			<div class="bgrid folio-item">
			   <div class="item-wrap">
				   <img src="../static/images/password.jpg" alt="Senhas">
				  <a href="#modal-54" class="overlay">                  	                 
					 <div class="folio-item-table">
						 <div class="folio-item-cell">
							 <h3 class="folio-title">Programa que verifica a integridade das Senhas</h3>	     					    
									 <span class="folio-types">
										  Python
								   </span>		     		
								</div>  	                      	
					 </div>                    
				  </a>
			   </div>
				</div> <!-- /folio-item -->     

				<div class="bgrid folio-item">
			   <div class="item-wrap">
				   <img src="../static/images/POWER-BI_2.jpg" alt="Análise">
				  <a href="#modal-55" class="overlay">             		                  
					 <div class="folio-item-table">
						 <div class="folio-item-cell">
							 <h3 class="folio-title">Análise de Vendas</h3>	     					    
									 <span class="folio-types">
										  Power-BI
								   </span>		     		
								</div> 	                      	
					 </div>                    
				  </a>
			   </div>
				</div> <!-- /folio-item -->

			<div class="bgrid folio-item">
			   <div class="item-wrap">
				   <img src="../static/images/fastapi.jpg" alt="API">
				  <a href="#modal-56" class="overlay">
					 <div class="folio-item-table">
						 <div class="folio-item-cell">
							 <h3 class="folio-title">FAST-API</h3>	     					    
									 <span class="folio-types">
										  Python
								   </span>		     		
								</div>	                      	
					 </div>                    
				  </a>
			   </div>
				</div> <!-- /folio-item -->   

			<!-- modal popups - begin
			============================================================= -->
			<div id="modal-51" class="popup-modal slider mfp-hide">	

					 <div class="media">
						 <img src="../static/images/Dio-Project_2.jpg" alt="Análise de Vendas" />
					 </div>      	

				   <div class="description-box">
					  <h4>Análise de Vendas Power-BI</h4>		      
					  <p>Nesse projeto o intuito foi readequar o nosso primeiro relatório, melhorando a usabilidade, e deixando mais amigável para o usuário.</p>

					  <div class="categories">Data Analytics</div>			               
				   </div>

				 <div class="link-box">
					<a href="https://github.com/luiz315/PowerBI-users_DIO_project.git">Details</a>
					  <a href="#" class="popup-modal-dismiss">Close</a>
				 </div>		      

			   </div> <!-- /modal-51 -->

			   <div id="modal-52" class="popup-modal slider mfp-hide">	

					 <div class="media">
						 <img src="../static/images/webs2.jpg" alt="portfolio" />
					 </div>      	

				   <div class="description-box">
					  <h4>Web-portfolio</h4>		      
					  <p>nesse nosso Portifolio virtual, que apesar de não mostrar na imagem ao lado se utilizou de varias "ferramentas" para funcionar, nosso servidor foi escrito em Python, pegamos uma base html no site HTML5 UP! e fomos mexendo no estilo para deixar a aparencia do site mais amigavel para o vizualizador final, utilizamos tambem o framework Flask para o servidor, e hospedamos tudo no muito intuitivo Python anywhere criando assim nosso simples porem muito sofisticado site.</p>

					  <div class="categories">Web Development</div>			               
				   </div>

				 <div class="link-box">
					<a href="https://github.com/luiz315/portfo.git">Details</a>
					  <a href="#" class="popup-modal-dismiss">Close</a>
				 </div>		      

			   </div> <!-- /modal-52 -->

			   <div id="modal-53" class="popup-modal slider mfp-hide">	

					 <div class="media">
						 <img src="../static/images/E-mail.jpg" alt="E-mail" />
					 </div>      	

				   <div class="description-box">
					  <h4>Enviar E-mail através de código</h4>		      
					  <p>Atraves de algumas bibliotecas da lingugagem python, o nosso programa é capaz de enviar e-mails.
						Nesse projeto utilizamos um arquivo html para compor o conteudo do e-mail, mas o arquivo não é necessario, pois a propria bbibloteca do python nos dá essa opção de mandar qualquer que seja o assunto e a mensagem do texto.</p>

					  <div class="categories">Python</div>			               
				   </div>

				 <div class="link-box">
					<a href="https://github.com/luiz315/Send-e-mail-with-python-">Details</a>
					  <a href="#" class="popup-modal-dismiss">Close</a>
				 </div>		      

			   </div> <!-- /modal-53 -->

			   <div id="modal-54" class="popup-modal slider mfp-hide">	

					 <div class="media">
						 <img src="../static/images/password.jpg" alt="Senha" />
					 </div>      	

				   <div class="description-box">
					  <h4>Password Checker</h4>		      
					  <p>Trabalhar nesse projeto foi realmente muito empolgante, utilizamos como base o site Pwned Passwords que é a parte que vai verificar a segurança da nossa senha e se ela já foi vazada alguma vez, e a grande diferença da nossa aplicação para o site é que a informação que colocarmos no site vai ficar salva em algum lugar já na nossa aplicação ela fica salva localmente deixando assim muito mais segura, nossa aplicação tambem faz uso de hashes o que deixa ela bem mais confiavel.</p>

					  <div class="categories">Python</div>			               
				   </div>

				 <div class="link-box">
					<a href="https://github.com/luiz315/Password-checker-">Details</a>
					  <a href="#" class="popup-modal-dismiss">Close</a>
				 </div>		      

			   </div> <!-- /modal-54 -->

			   <div id="modal-55" class="popup-modal slider mfp-hide">	

					 <div class="media">
						 <img src="../static/images/POWER-BI_2.jpg" alt="Análise de Dados" />
					 </div>      	

				   <div class="description-box">
					  <h4>Análise de Vendas Power-BI</h4>		      
					  <p>O projeto consiste em utilizar-se do sample inicial do PowerBI para fazer um relatório completo e estilizado de vendas levando em conta a usabilidade do usuário, design e desempenho.</p>

					  <div class="categories">Data Analytics</div>			               
				   </div>

				 <div class="link-box">
					<a href="https://github.com/luiz315/PowerBI-relatorio_vendas">Details</a>
					  <a href="#" class="popup-modal-dismiss">Close</a>
				 </div>		      

			   </div> <!-- /modal-55 -->

			   <div id="modal-56" class="popup-modal slider mfp-hide">	

					 <div class="media">
						 <img src="../static/images/fastapi.jpg" alt="API" />
					 </div>      	

				   <div class="description-box">
					  <h4>API TDD</h4>		      
					  <p>TDD é uma sigla para Test Driven Development, ou Desenvolvimento Orientado a Testes. A ideia do TDD é que você trabalhe em ciclos.<br>

						Vantagens do TDD<br>
						entregar software de qualidade; testar procurando possíveis falhas; criar testes de integração, testes isolados (unitários); evitar escrever códigos complexos ou que não sigam os pré-requisitos necessários; A proposta do TDD é que você codifique antes mesmo do código existir, isso nos garante mais qualidade no nosso projeto. Além de que, provavelmente se você deixar pra fazer os testes no final, pode acabar não fazendo. Com isso, sua aplicação perde qualidade e está muito mais propensa a erros.</p>

					  <div class="categories">API</div>			               
				   </div>

				 <div class="link-box">
					<a href="https://github.com/luiz315/Api-test-driven-Development-.git">Details</a>
					  <a href="#" class="popup-modal-dismiss">Close</a>
				 </div>		      

			   </div> <!-- /modal-56 -->


			   <!-- modal popups - end
			============================================================= -->

		 </div> <!-- /portfolio-wrapper --> 

	   </div>  <!-- /twelve -->   

   </div> <!-- /portfolio-content --> 
	
</section> <!-- /portfolio --> 




	<!-- Certificates Section
   ================================================== -->
	<section id="portfolio">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Certificados</h5>
   			<h1>Confira abaixo meus certificados</h1>

   			<p class="lead">Abaixo Reuni meus Certificados e Certificações.</p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row portfolio-content">

   		<div class="col-twelve">

   			<!-- portfolio-wrapper -->
	         <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

	         	<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="../static/images/fulls/01.jpg" alt="Data Analytics">
	                  <a href="#modal-01" class="overlay">	                  	           
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
		     					       <h3 class="folio-title">Data Analytics</h3>	     					    
		     					    	 <span class="folio-types">
		     					       	  Bootcamp
		     					       </span>
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>	               
	        		</div> <!-- /folio-item -->

	        		<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="..//static/images/fulls/02.jpg" alt="Python">
	               	<a href="#modal-02" class="overlay">              		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Complete Course of Python</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Curso
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="../static/images/fulls/03.jpg"alt="Python">
	                  <a href="#modal-03" class="overlay">             		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Python para Análise de Dados</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Curso
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="../static/images/fulls/04.jpg" alt="IA">
	                  <a href="#modal-04" class="overlay">                  	                 
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Fundamentos de Inteligência Artificial </h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Curso
		     					      </span>		     		
		     					   </div>  	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->     

	        		<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="../static/images/fulls/Copilot.jpg" alt="Copilot IA">
	                  <a href="#modal-05" class="overlay">             		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Copilot IA</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Bootcamp
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="../static/images/fulls/NTT.jpg" alt="Engenharia de dados">
	                  <a href="#modal-06" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Engenharia de dados com Python</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Bootcamp
		     					      </span>		     		
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->   

					            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="../static/images/fulls/Vivo.jpg" alt="Dev Backend">
	                  <a href="#modal-07" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Python AI Backend Developer</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Bootcamp
		     					      </span>		     		
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

						            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="../static/images/fulls/Estudar.jpg" alt="Ciência da Computação">
	                  <a href="#modal-08" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Ciência da Computação de Harvard no Brasil</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Curso
		     					      </span>		     		
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->  

						            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="../static/images/fulls/Google.jpg" alt="Google Data Analytics">
	                  <a href="#modal-09" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Google Data Analytics</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Curso
		     					      </span>		     		
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item --> 

											            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="../static/images/fulls/Santander.jpg" alt="Data Science">
	                  <a href="#modal-10" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Santander Data Science</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Curso
		     					      </span>		     		
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item --> 

																            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="../static/images/fulls/IOT.jpg" alt="Internet das Coisas">
	                  <a href="#modal-11" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Internet das Coisas</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Curso
		     					      </span>		     		
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item --> 

																            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="../static/images/fulls/Estrategico.jpg" alt="Pensamento Estrategico">
	                  <a href="#modal-12" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Pensamento Estrategico</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Curso
		     					      </span>		     		
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item --> 


																            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="../static/images/fulls/05.jpg" alt="Storytelling">
	                  <a href="#modal-13" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Storytelling para Markenting Digital</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Curso
		     					      </span>		     		
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item --> 
					
																            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="../static/images/fulls/06.jpg" alt="Comunicação Efetiva">
	                  <a href="#modal-14" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Comunicação Efetiva</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Curso
		     					      </span>		     		
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item --> 

																            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="../static/images/fulls/07.jpg" alt="Escrita Eficaz e Persuasiva">
	                  <a href="#modal-15" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Escrita Eficaz e Persuasiva</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Curso
		     					      </span>		     		
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item --> 

																            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="../static/images/fulls/08.jpg" alt="Pensamento Crítico">
	                  <a href="#modal-16" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Pensamento Crítico e Resolução de problemas</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Curso
		     					      </span>		     		
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item --> 




	            <!-- modal popups - begin
	            ============================================================= -->
	            <div id="modal-01" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="../static/images/fulls/01.jpg" alt="Data Analytics" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Data Analytics</h4>		      
					      <p>Manipular, gerenciar e apresentar grandes massas de dados através de habilidades práticas para construir dashboards funcionais. </p>

					      <div class="categories">Análise de Dados</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://web.dio.me/track/bootcamp-squadio?tab=about">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-01 -->

				   <div id="modal-02" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="../static/images/fulls/02.jpg" alt="Python Course" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Python Course</h4>		      
					      <p>Learn Python from scratch, get hired, and have fun along the way with the most modern, up-to-date Python course on Udemy (we use the latest version of Python). This course is focused on efficiency: never spend time on confusing, out of date, incomplete Python tutorials anymore.</p>

					      <div class="categories">Python </div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://www.udemy.com/course/complete-python-developer-zero-to-mastery/?couponCode=KEEPLEARNINGBR">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-02 -->

				   <div id="modal-03" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="../static/images/fulls/03.jpg" alt="python análise de dados" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Python para Análise de dados</h4>		      
					      <p>Conheça os Fundamentos de Linguagem Python Para Análise de Dados e Data Science. </p>

					      <div class="categories">Python</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://www.datascienceacademy.com.br/path-player?courseid=fundamentos-de-linguagem-python-para-analise-de-dados-e-data-science">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-03 -->

				   <div id="modal-04" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="../static/images/fulls/04.jpg" alt="Fundamentos da Inteligência Artificial" />
				     	</div>      	

					   <div class="description-box">
					      <h4>FUndamentos da IA</h4>		      
					      <p>Conheça os fundamentos essenciais e as técnicas modernas utilizadas nos campos da Ciência de Dados e IA</p>

					      <div class="categories">Inteligência Artificial</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://www.datascienceacademy.com.br/path-player?courseid=fundamentos-de-data-science-e-inteligencia-artificial">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-04 -->

				   <div id="modal-05" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="../static/images/fulls/Copilot.jpg" alt="Copilot IA" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Copilot IA Bootcamp</h4>		      
					      <p>Aumente a sua produtividade como desenvolvedor aplicando soluções de IA no seu dia a dia com excelência. Explore na prática e em poucas horas conceitos importantes de Machine Learning, PLN e Visão computacional para dominar o kit de sobrevivência de IA para suas demandas de trabalho</p>

					      <div class="categories">Bootcamp</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://web.dio.me/track/microsoft-copilot-ai?tab=about">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-05 -->

				   <div id="modal-06" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="../static/images/fulls/NTT.jpg" alt="Engenharia de Dados" />
				     	</div>      	

					   <div class="description-box">
					      <h4>NTT DATA - Engenharia de Dados com Python</h4>		      
					      <p>Aprenda desde a linguagem Python até o domínio no tratamento de Dados e dashboard com PowerBI do jeito que é feito na NTT DATA.</p>

					      <div class="categories">Python</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://web.dio.me/track/engenharia-dados-python?tab=about">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-06 -->

				   				   <div id="modal-07" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="../static/images/fulls/Vivo.jpg" alt="Backend Developer" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Python AI Backend Developer</h4>		      
					      <p>Estude funções de Python com estrutura de dados, dê os primeiros passos em conceitos importantes de orientação a objetos (POO), além de aprender a integrar esse conhecimento ao framework Fast API e LangChain para aprofundar desenvolvimento web construindo APIs a partir da metodologia de testes unitários com TDD.</p>

					      <div class="categories">Python</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://web.dio.me/track/coding-future-vivo-python-ai-backend-developer?tab=about">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-07 -->

				   				   				   <div id="modal-08" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="../static/images/fulls/Estudar.jpg" alt="Ciência da Computação" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Ciência da Computação de Harvard no Brasil</h4>		      
					      <p> Entendimento amplo sobre Ciência da Computação, pensar algoriticamente, Familiaridade com diversas linguagens de programação e entender varios conceitos da programação.</p>

					      <div class="categories">Fundamentos Computação</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://materiais.napratica.org.br/cc50">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-08 -->

				   				   				   				   <div id="modal-09" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="../static/images/fulls/Google.jpg" alt="Google Data Analytics" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Google Data Analytics</h4>		      
					      <p>Entre no caminho rápido para uma carreira em análise de dados. Neste programa de certificação, você aprenderá habilidades em demanda e receberá treinamento em IA de especialistas do Google. Aprenda em seu próprio ritmo, sem necessidade de diploma ou experiência. </p>

					      <div class="categories">Análise de Dados</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://www.coursera.org/programs/data-analysis-miszq/professional-certificates/google-data-analytics?collectionId=AAaSY">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-09 -->

				   				   				   				   				   <div id="modal-10" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="../static/images/fulls/Santander.jpg" alt="Santander Tech+" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Santander Tech+ Data Science</h4>		      
					      <p>O Santander Tech+, uma parceria entre Santander e Ada Tech, é o programa ideal para você dar os primeiros passos na sua carreira em tecnologia!</p>

					      <div class="categories">Ciência de Dados</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://app.santanderopenacademy.com/pt-BR/program/santander-tech">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-10 -->

				   				   				   				   				   				   <div id="modal-11" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="../static/images/fulls/IOT.jpg" alt="Internet das Coisas" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Internet das Coisas</h4>		      
					      <p>Descubra o curso de IoT e saiba como criar, implementar e otimizar sistemas interconectados para impulsionar a inovação. Explore os cursos e escolha o seu!</p>

					      <div class="categories">Fundamentos da Computação</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://www.santanderopenacademy.com/pt_br/courses/iot.html">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-11 -->

				   				   				   				   				   				   <div id="modal-12" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="../static/images/fulls/Estrategico.jpg" alt="Pensamento Estrategico" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Pensamento Estrategico</h4>		      
					      <p>Este curso ensina as principais habilidades estratégicas para navegar no mundo dos negócios atual, enfatizando a análise, a tomada de decisões e a comunicação eficaz para o sucesso. </p>

					      <div class="categories">Soft-Skill</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://www.santanderopenacademy.com/pt_br/courses/strategic-thinking-strategic-mindset.html">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-12 -->

				   				   				   				   				   				   <div id="modal-13" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="../static/images/fulls/05.jpg" alt="Storytelling" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Storytelling para Marketing digital</h4>		      
					      <p>Os formatos digitais proporcionam uma nova abordagem para o storytelling, mas sua essência permanece enraizada em mitos tradicionais e narrativas atemporais.</p>

					      <div class="categories">Soft-Skill</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://app.santanderopenacademy.com/pt-BR/program/santander-tech">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-13 -->

				   				   				   				   				   				   <div id="modal-14" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="../static/images/fulls/06.jpg" alt="Comunicação Efetiva" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Comunicação Efetiva</h4>		      
					      <p>Com este curso de comunicação verbal, você aprenderá técnicas para perder o medo do falar em público e para estruturar sua mensagem e apresentá-la de forma eficaz em qualquer situação profissional ou pessoal.</p>

					      <div class="categories">Soft-Skill</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://www.santanderopenacademy.com/pt_br/courses/effective-communication.html">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-14 -->

				   				   				   				   				   				   <div id="modal-15" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="../static/images/fulls/07.jpg" alt="Escrita eficaz e Persuasiva" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Escrita eficaz e Persuasiva</h4>		      
					      <p>Neste curso, você adquirirá as noções de comunicação escrita no ambiente de negócios. Com ferramentas de inteligência artificial e técnicas de revisão e correção, poderás otimizar todas as habilidades e recursos de comunicação.</p>

					      <div class="categories">Soft-Skill</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://santanderopenacademy.com/pt_br/courses/effective-business-writing.html">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-15 -->

				   				   				   				   				   				   <div id="modal-16" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="../static/images/fulls/08.jpg" alt="Pensamento Crítico" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Pensamento Crítico e Resolução de Problemas</h4>		      
					      <p>Este curso oferece uma estrutura abrangente para dominar o pensamento crítico e as habilidades de resolução de problemas no mundo acelerado de hoje, enfatizando a criatividade, a inovação e a compreensão da dinâmica VUCA versus BANI.</p>

					      <div class="categories">Soft-Skill</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://santanderopenacademy.com/pt_br/courses/critical-thinking-problem-solving.html">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-16 -->



				   <!-- modal popups - end
	            ============================================================= -->

	         </div> <!-- /portfolio-wrapper --> 

   		</div>  <!-- /twelve -->   

   	</div> <!-- /portfolio-content --> 
		
	</section> <!-- /portfolio --> 


	



	
	<!-- services Section
   ================================================== -->
	<section id="services">

		<div class="overlay"></div>

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Serviços</h5>
   			<h1>O que eu posso fazer por você?</h1>

   			<p class="lead">Abaixo alguns serviços que eu sou capaz de realizar. </p>

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row services-content">

   		<div id="owl-slider" class="owl-carousel services-list">

	      	<div class="service">	

	      		<span class="icon"><i class="icon-objects"></i></span>            

	            <div class="service-content">	

	            	 <h3>SQL</h3>

		            <p class="desc"> Uma habilidade muito importante é saber trabalhar com banco de dados e suas querys. 
	         		</p>
	         		
	         	</div> 	         	 

				</div> <!-- /service -->

				<div class="service">	

					<span class="icon"><i class="icon-window"></i></span>                          

	            <div class="service-content">	

	            	<h3>Análise de Dados</h3>  

		            <p class="desc"> Análises de Dados claras e estilizadas utilizando ferramentas como Power BI, Tableu e "R".
	         		</p>

	            </div>	                          

			   </div> <!-- /service -->

			   <div class="service">

			   	<span class="icon"><i class="icon-paint-brush"></i></span>		            

	            <div class="service-content">

	            	<h3>Limpeza de Dados</h3>

		            <p class="desc"> Formatar, transformar e limpar dados são habilidades essenciais para profissionais da área.
	        			</p> 

	            </div> 	            	               

			   </div> <!-- /service -->



	      </div> <!-- /services-list -->
   		
   	</div> <!-- /services-content -->
		
	</section> <!-- /services -->	



	
	
   <!-- contact
   ================================================== -->
	<section id="contact">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Contato</h5>
   			<h1>Entre em Contato</h1>

   			<p class="lead">Sinta-se a vontande para fazer um comentario, deixar uma sugestão ou entrar em contato, ficarei muito grato com seu Feedback.</p>

   		</div> 
   	</div> <!-- /section-intro -->

   	
   	<div class="row contact-info">

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-pin"></i>
   			</div>

   			<h5>Local</h5>

   			<p>
            Brasília <br>
			Distrito Federal
            </p>

   		</div>

   		<div class="col-four tab-full collapse">

   			<div class="icon">
   				<i class="icon-mail"></i>
   			</div>

   			<h5>Email</h5>

   			<p>luizvictorreis315@gmail.com			     
			   </p>

   		</div>

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-phone"></i>
   			</div>

   			<h5>Número para Contato</h5>

   			<p>Telefone: (61)996899173<br>
			   	
			     	
			   </p>

   		</div>
   		
   	</div> <!-- /contact-info -->
		
	</section> <!-- /contact -->


   <!-- footer
   ================================================== -->

   <footer>
     	<div class="row">

     		<div class="col-six tab-full pull-right social">

     			<ul class="footer-social">        
					<li><a href="https://www.linkedin.com/in/luiz-victor-reis-moraes-silva-8428641a1/"><i class="fa-brands fa-linkedin"></i></a></li>
					<li><a href="https://github.com/luiz315"><i class="fa-brands fa-github"></i></a></li>
					<li><a href="https://x.com/luizv315"><i class="fa-brands fa-square-twitter"></i></a></li>
					<li><a href="mailto:luizvictorreis315@gmail.com"><i class="fa-solid fa-envelope"></i></a></li>
					<li><a href="https://www.instagram.com/luizinv315/"><i  class="fa-brands fa-instagram"> </i></a></li>
					<li><a href="https://luizv315.pythonanywhere.com"><i  class="fa-solid fa-square-rss"> </i></a></li>
			   </ul> 
	      		
	      </div>

      	<div class="col-six tab-full">
	      	<div class="copyright">
		        	<span>© Copyright Kards 2016.</span> 
		        	<span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>	         	
		         </div>		                  
	      	</div>

	      	<div id="go-top">
		         <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
		      </div>

      	</div> <!-- /row -->     	
   </footer>  

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="..\static\js/jquery-2.1.3.min.js"></script>
   <script src="..\static\js/plugins.js"></script>
   <script src="..\static\js/main.js"></script>

</body>

</html>